<div class="row">
    <div class="col text-center mt-3">
        <img src="img/profile.jpg" alt="Profile" class="img-thumbnail rounded-circle" width="180">
        <h1 class="display-4">Aulia Ahmad Nabil</h1>
        <p class="lead">Web Developer | Programmer</>
    </div>
</div>